
#pic-holder {
    grid-row-start: 1;
    display: grid;
    
    justify-content: center;
    align-content: center;

    width: 65vw;
    height: 65vh;

    border: 3px dashed white;
}

#pic-holder #pic {
    display: grid;
    max-width: 65vw;
    max-height: 65vh;
}

#pic-loading {
    font-size: 64px;
    color: white;
}

#under-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4px;
}

#pic-info {
    grid-column-start: 2;
    grid-row-start: 1;

    font-size: 16px;
    color: black;

    align-self: right;
    justify-self: right;
}

#meme-type-label {
    grid-column-start: 1;
    grid-row-start: 1;

    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin: 0;
    color: black;
}

#meme-type {
    grid-row-start: 3;
    padding: 4px;
}


#meme-button {
    grid-row-start: 4;
    padding: 4px;
}