.arrow {
    background: transparent;
    border: 0;
    outline: none;
    box-shadow: none;

    height: 200px;
    width: 200px;
    
    margin: 20px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    justify-self: center;
    align-self: center;
}

.arrow img {
    width: inherit;
    height: inherit;
}

.flip-y {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.arrow-button {
    cursor: pointer;
    border: 2px solid rgba(0, 255, 0, 0.65);
}

.arrow-button:hover {
    background: rgba(0, 255, 0, 0.35);
    border: 2px solid rgba(0, 255, 0, 0.65);
}

.arrow-button:active {
    background: rgba(0, 199, 0, 0.35);
    border: solid rgb(0, 255, 0) 2px;
}

#up-vote {
    grid-column: 1;
    grid-row: 2;
}

#down-vote  {
    grid-column: 3;
    grid-row: 2;
}

#bnt-skip {
    grid-column: 2;
    grid-row: 3;
}

#image-div {
    display: grid;
    grid-column: 2;
    grid-row: 2;

    width: 65vw;
    height: 65vh;

    justify-content: center;
    align-content: center;

    border: 3px dashed white;
}

#image-div #meme {
    max-width: 65vw;
    max-height: 65vh;
}

#meme-loading {
    font-size: 64px;
    color: white;
}