h1 {
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin: 0;
    color: white;
}

#content {
    padding-top: 50px;
    display: grid;
    
    gap: 20px;
}

.btn-href {
    padding: 12px;
    background: rgba(255, 255, 255, 0.35);

    justify-self: center;
    align-self: center;

    cursor: pointer;
    outline: none;
    box-shadow: none;

    height: auto !important;
    width: 300px !important;
    font-size: 18px;
}

#github {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 30px;

    cursor: pointer;
    outline: none;
    box-shadow: none;

    height: auto !important;
    width: auto !important;
    font-size: 18px;
}