* { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0; 
    padding: 0;
    letter-spacing: 0.4px;
}
 
body {
    background: linear-gradient(to left, rgb(80, 192, 220), rgb(83, 136, 185));
}

header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
    align-content: center;
    justify-content: center;

    background-color: rgba(60, 171, 223, 0.5);
    border-bottom: 2px solid rgba(60, 171, 223, 0.75);
    width: 100%;
    height: 80px;
    border-radius: 0;
}



#tabs {
    display: flex;
    column-gap: 50px;

    align-items: center;
    justify-content: center;
}

.tab {
    text-decoration: none;

    border: 2px solid rgba(0, 155, 175, 0.5);
    background-color: rgba(50, 160, 180, 0.25);
    color: rgb(40, 40, 40);

    padding: 10px 20px;
    text-align: center;
    display: inline-block;
}

.tab:hover {
    border: 2px solid rgba(0, 155, 175, 0.75);
    background: rgba(50, 160, 180, 0.5);
}




#home-button {
    margin-left: 8px;
    width: 64px;
    height: 64px;
}

#home-button img {
    width: 64px;
    height: 64px;
}



.button {
    padding: 12px;
    border: 2px solid rgba(0, 155, 175, 0.5);
    background: rgba(50, 160, 180, 0.25);
    cursor: pointer;
    outline: none;
    box-shadow: none;

    color: rgb(40, 40, 40);
    height: 60px;
    font-size: 18px;
    font-weight: 600;
}

.button:hover {
    border: 2px solid rgba(0, 155, 175, 0.75);
    background: rgba(50, 160, 180, 0.5);
}

.button:active {
    border: 2px solid rgba(0, 155, 175, 1);
    background: rgba(50, 160, 180, 0.75);
}




.select {
    background: rgba(255, 255, 255, 0.35);
    color: rgb(40, 40, 40);
    border: 3px solid white;
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.2);

    font: 600 1.20rem/1.25 'Montserrat', sans-serif;
    font-size: 16px;

    outline: none;

    -webkit-appearance: button;
    appearance: button;

    transition: all 1s ease-in;

}

.select:hover {
    border: solid rgb(0, 255, 0) 3px;
    background: rgba(0, 255, 0, 0.35);
}



.content {
    margin-top: 35px;
    display: grid;
    justify-content: center;
    row-gap: 5px;
}